body {
    margin: 0;
    padding: 0;
}

#today {
    background: silver;
}

.DayList {
    border-left: 2px dotted gray;
    margin: 1em;
    margin-left: 4em;
}

.DayList, .DayList ul {
    list-style-type: none;
}

.DayList ul {
    margin: 0;
    padding: 0;
}

.DayList>li {
    margin-left: -4em;
    padding-left: 4em;
    margin-bottom: 6em;
}

.DayList>li>ul>li {
    margin-bottom: 1em;
    border-left: 3px solid silver;
    padding-left: 5px;
}

.DayList>li>p {
    font-size: 1.5em;
    font-weight: bold;
}

.DayList>li>ul>li>p {
    font-size: 1.1em;
    font-weight: bold;
    display: inline;
    vertical-align: top;
}

.DayList>li>ul>li>p:before {
    content: "";
    display: block;
    border-bottom: .1em solid black;
    height: .5em;
    width: 1em;
    left: 3.25em;
    position: absolute;
}

.DayList .source {
    color: gray;
    font-size: .7em;
    margin: .3em;
}

.amounts {
    display: inline;
}

.amounts li {
    display: inline;
}

img.pic {
    width: 10em;
    height: auto;
    margin: 1em;
}
